<article>   
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    
                    <h2><%=@post.title%></h2></br> 
                    <hr>
                    <p><%= image_tag @post.image.url(:medium)%></p>
                    <p><%=@post.body %></p>
                    <p>By:<%=@post.author%></p>
                    <% if me_signed_in? %>
                        <h5> <%= link_to "Edit", edit_post_path(@post.id) %> ||
                        <%= link_to "Delete", edit_post_path(@post.id), method: :delete, data:{ deletable: true} %> </h5>
                    <%end %>
                    <h5>Comments:</h5>
                    <h> <%= render @post.comments %> </h5>
                    <hr>
                    <%= render 'comments/form' %>
                   
                    <hr>
                    
                </div>
            </div>
        </div>

        
 </article>

 
      